_config.yaml
.DS_Store
application/config/database.php
.gitignore
.idea/modules.xml
.idea/ProjectAppBit16.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode/settings.json
application/config.php
application/routes.php
application/autoload.php
application/config/database.php
/nbproject/private/