tr.colored{
    background-color: #D1C4E9;
}

.navbar{
    box-shadow: none;
}

td .tableaction{
    position: relative;
    height: 100%;
}

td .tableaction i{
    /* color: #fff!important; */
}

tr p{
    margin: 0;
}