/*
    GREIF MATTHIAS
    LAST UPDATED: 18 04 20
    GENERAL DASHBOARD STYLESHEET
*/

tr.colored{
    background-color: #D1C4E9;
}

td{
    vertical-align: middle !important;
}

.navbar{
    box-shadow: none;
}

tr p{
    margin: 0;
}

.btn{
    margin: 0;
    margin-left: 15px;
}

form{
    padding: 25px;
}

form .md-form{
    padding-bottom: 20px;
}

.fab{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 50px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fab i{
    position: relative;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
}

.items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    position: relative;
    padding-top: 100%;
}

.items .item a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items .item a div{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}