body{
    background-image: url("../img/background/TM.jpg");
    background-size: cover;
    background-position: top;
}

.content_container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}