/*
    GREIF MATTHIAS
    LAST UPDATED: 18 03 30
    GENERAL STYLESHEET
*/

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.navbar img{
    height: 30px;
    margin-right: 16px;
}

.shiften{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

/* label positionering op keuzemogelijkheid toevoegen */

.md-form label{
    top:0;
}

.buttonmenu {
    padding: 20px 0;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #f5f5f5;
}

.footer-block {
    margin: 20px 0;
}